@import "../../../scss/settings/mixins";
@import "../../../scss/settings/colors";
@import "../../../scss/settings/fonts";

.organizations__listItem {
  padding: 0.5rem 1rem 0 1rem;
  font-family: $fontAlt;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 165px;
  @include mediumScreen {
    padding: 0.5rem 1rem 0 1rem;
    height: 110px;
  }
  .organizations__listItem-name {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
    @include mediumScreen {
      font-size: 1.5rem;
      margin-bottom: 0;
    }
  }
  .organizations__listItem-content {
    @include mediumScreen {
      display: flex;
      gap: 2rem;
    }
    .organizations__listItem-description {
      font-size: 1rem;
      margin-bottom: 1rem;
      line-height: 1.3;
      @include mediumScreen {
        font-size: 1.1rem;
        flex-basis: 65%;
        margin-bottom: 0;
      }
    }
    .organizations__listItem-items {
      @include mediumScreen {
        flex-basis: 35%;
        text-align: right;
      }
      .organizations__listItem-item {
        display: inline;
        font-size: 1rem;
        line-height: 1.3;
        font-style: italic;
        padding-right: 0.3rem;
        &::after {
          content: ",";
        }
        &:last-child::after {
          content: "";
        }
        @include mediumScreen {
          font-size: 1.1rem;
        }
      }
    }
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $colorFontPrimary;
  }
  &:last-child::after {
    content: "";
    background-color: $colorBackgroundPrimary;
  }
}
