@import "../../../scss/settings/colors";
@import "../../../scss/settings/mixins";

.givestuff__thanks {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  @include mediumScreen {
    width: 50%;
  }
  .givestuff__thanks-text {
    white-space: pre-line;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2;
    padding-bottom: 2rem;
    margin-top: 4rem;
    @include mediumScreen {
      font-size: 2rem;
      margin-top: 8rem;
    }
    @include largeScreen {
      font-size: 2.5rem;
    }
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 500px;
    background-image: url(../../../assets/background-form.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -671px;
    @include mediumScreen {
      display: none;
    }
  }
}
