@import "../../../scss/settings/mixins";

.container {
  border: 1px solid green;
}

.nav__mobile {
  @include mediumScreen {
    display: none;
  }
}

.nav__desktop {
  display: none;
  @include mediumScreen {
    display: block;
  }
}
