$colorFontPrimary: rgba(60, 60, 60, 1);
$colorFontSecondary: rgba(0, 0, 0, 1);
$colorFontHeader: rgba(115, 115, 115, 1);
$colorFontNumbers: rgba(94, 83, 34, 1);
$colorPagination: rgba(112, 112, 112, 1);
$colorPaginationHover: rgb(196, 195, 195);
$colorInputsPlaceholders: rgba(60, 60, 60, 0.35);
$colorAccent: rgba(250, 214, 72, 1);
$colorFormBackground: rgba(240, 241, 241, 1);
$colorBackgroundPrimary: rgba(255, 255, 255, 1);
$colorPhotoOverlay: rgba(255, 255, 255, 0.85);
