@import "../../../scss/settings/colors";
@import "../../../scss/settings/mixins";

.login__button-register,
.header_auth-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 117px;
  height: 50px;
  border-radius: 2px;
  border: 1px solid $colorFontPrimary;
  font-size: 1.1rem;
  color: $colorFontSecondary;
  @include mediumScreen {
    border: 1px solid $colorBackgroundPrimary;
  }
}

.header_auth-link {
  border: 1px solid $colorAccent;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  @include mediumScreen {
    &:hover {
      background-color: $colorAccentHover;
    }
  }
}
