@import "../../../scss/settings/mixins";
@import "../../../scss/settings/colors";

.givestuff__form {
  border: 2px solid blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .givestuff__form-content {
    background-color: palegoldenrod;
    padding: 1rem;
    flex-grow: 1;
    background-color: $colorGiveStuffForm;
    @include mediumScreen {
      background-image: url(../../../assets/background-form.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .givestuff__form-form {
      .givestuff__form-step {
        font-size: 1.1rem;
        @include mediumScreen {
          font-size: 1.5rem;
        }
      }
    }
  }
}
