@import "../../../scss/settings/mixins";
@import "../../../scss/settings/colors";

.givestuff__form {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .givestuff__form-content {
    padding: 1rem;
    flex-grow: 1;
    background-color: $colorGiveStuffForm;
    display: flex;
    flex-direction: column;
    @include mediumScreen {
      background-image: url(../../../assets/background-form.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 80%;
    }
    .container {
      height: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .givestuff__form-form {
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        .givestuff__form-step {
          font-size: 1.1rem;
          padding: 0 1rem 1rem 1rem;
          @include mediumScreen {
            font-size: 1.5rem;
          }
        }
        .givestuff__form-inputs {
          flex-grow: 1;
        }
      }
    }
  }
}

.adresstime__inputs {
  .adresstime__inputs-title {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0 1rem 0 1rem;
    line-height: 1.2;
    @include mediumScreen {
      font-size: 1.7rem;
      padding: 1rem;
    }
    @include largeScreen {
      font-size: 2rem;
    }
  }
  .adresstime__inputs-inputs {
    @include mediumScreen {
      display: flex;
    }
  }
}
