@import "../../../scss/settings/colors";
@import "../../../scss/settings/mixins";

.summary__form {
  .summary__form-title {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem;
    @include mediumScreen {
      font-size: 1.7rem;
    }
    @include largeScreen {
      font-size: 2rem;
    }
  }
  .summary__adresstime {
    @include mediumScreen {
      display: flex;
    }
  }
}
