@import "../../../scss/settings/colors";
@import "../../../scss/settings/mixins";

.header {
  border: 2px solid palevioletred;
  position: relative;
  height: 60px;
  .header__container {
    @include container;
    border: 1px solid blue;
    .header__auth {
      height: 100%;
      max-width: 80%;
      display: flex;
      align-items: center;
      @include mediumScreen {
        max-width: 100%;
        justify-content: flex-end;
      }
      .header_auth-link {
        font-size: 1rem;
        padding: 1rem;
        margin: 0 0.5rem 0 0.5rem;
        color: $colorFontPrimary;
        border: 1px solid $colorAccent;
        border-radius: 5px;
        @include mediumScreen {
          border: none;
          &:hover {
            border: 2px solid $colorAccent;
            border-radius: 2px;
          }
        }
      }
    }
  }
}
