@import "../../../scss/settings/colors";
@import "../../../scss/settings/mixins";

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 2rem 0;
  @include mediumScreen {
    height: 100vh;
    justify-content: space-evenly;
    padding: 0;
  }
  .steps__title {
    font-size: 1.8rem;
    padding: 1rem;
    text-align: center;
    @include mediumScreen {
      font-size: 2.1rem;
    }
  }
  .steps__container {
    background-color: $colorFormBackground;
    width: 100%;
  }
}
