@import "../../../scss/settings/colors";
@import "../../../scss/settings/mixins";

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 2rem 0;
  @include mediumScreen {
    height: 100vh;
    justify-content: space-evenly;
    padding: 0;
  }
  .steps__title {
    font-size: 1.8rem;
    padding: 1rem;
    text-align: center;
    @include mediumScreen {
      font-size: 2.1rem;
    }
  }
  .steps__container {
    background-color: $colorFormBackground;
    width: 100%;
  }
  .steps__link {
    display: block;
    white-space: pre-line;
    text-transform: uppercase;
    width: 130px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.3;
    border: 1px solid $colorFontPrimary;
    border-radius: 2px;
    padding: 1rem;
    margin: 2rem 0 0 0;
    color: $colorFontPrimary;
    @include mediumScreen {
      width: 210px;
      font-size: 1.5rem;
      margin: 0;
      &:hover {
        background-color: $colorFormBackground;
      }
    }
  }
}
