@import "../../../scss/settings/colors";
@import "../../../scss/settings/mixins";

.nav__list {
  background-color: $colorBackgroundPrimary;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  @include mediumScreen {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
  }
  .nav__list-link {
    text-align: center;
    display: block;
    color: $colorFontPrimary;
    font-size: 1.2rem;
    padding: 1rem;
    border-bottom: 1px solid $colorAccent;
    cursor: pointer;
    @include mediumScreen {
      margin: 0 0.5rem;
      border: none;
      font-size: 1.2rem;
      border: 1px solid $colorBackgroundPrimary;
      &:hover {
        border: 1px solid $colorPaginationHover;
        border-radius: 2px;
      }
    }
  }
}
