@import "../../../scss/settings/colors";
@import "../../../scss/settings/mixins";

.organizations__input {
  display: flex;
  justify-content: center;
  align-items: stretch;
  .organizations__input-label {
    white-space: pre-line;
    font-size: 0.8rem;
    line-height: 1.2;
    border: 1px solid $colorFontPrimary;
    border-radius: 2px;
    padding: 1rem 0;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    cursor: pointer;
    @include smallScreen {
      // margin: 0.5rem 1.5rem;
      margin: 0 1.5rem;
      width: 150px;
    }
    @include mediumScreen {
      font-size: 1.5rem;
      width: 200px;
      border: 1px solid $colorBackgroundPrimary;
      &:hover {
        border: 1px solid $colorPaginationHover;
      }
    }
  }
  .organizations__input-label.checked {
    background-color: $colorAccent;
    @include mediumScreen {
      background-color: transparent;
      border: 1px solid $colorFontPrimary;
    }
  }
  .organizations__input-radio {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
}
