@import "../../../scss/settings/colors";
@import "../../../scss/settings/mixins";

.organizations__input {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  .organizations__input-label {
    white-space: pre-line;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.2;
    border: 1px solid blue;
    display: block;
    padding: 1rem;
  }
  .organizations__input-radio {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
}
