@import "../../../scss/settings/colors";
@import "../../../scss/settings/mixins";

.contact {
  @include mediumScreen {
    height: 100vh;
    background-image: linear-gradient($colorPhotoOverlay, $colorPhotoOverlay),
      url("../../../assets/background-contact-form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
    position: relative;
    background-position: -200px;
  }
  @include largeScreen {
    background-position: 0;
  }
  .contact__content {
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    @include mediumScreen {
      width: 50%;
      padding: 2rem 0 0 0;
      height: calc(100vh - 90px);
      position: absolute;
      top: 0;
      right: 0;
    }
    .contact__content-text {
      background-color: $colorBackgroundPrimary;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 530px;
      @include mediumScreen {
        margin-top: 1.5rem;
        padding: 1rem;
        width: 530px;
      }
      .contact__content-title {
        font-size: 1.8rem;
        padding: 1rem;
        @include mediumScreen {
          font-size: 2.1rem;
          padding: 2rem 0 2rem 0;
        }
      }
    }
  }
}
