@import "../../../scss/settings/colors";
@import "../../../scss/settings/mixins";

.start__links-login {
  white-space: pre-line;
  text-transform: uppercase;
  width: 130px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.3;
  border: 1px solid $colorFontPrimary;
  border-radius: 2px;
  padding: 1rem;
  margin: 1rem;
  color: $colorFontPrimary;
  @include mediumScreen {
    width: 210px;
    font-size: 1.5rem;
    &:hover {
      background-color: $colorFormBackground;
    }
  }
}
