@import "../../../scss/settings/colors";
@import "../../../scss/settings/mixins";

.about {
  @include mediumScreen {
    display: flex;
    height: 100vh;
  }
}
.about__content {
  padding: 1rem;
  background-color: $colorFormBackground;
  text-align: center;
  @include mediumScreen {
    width: 50%;
    display: flex;
    align-items: center;
  }
  .about__content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    @include mediumScreen {
      margin: 2rem;
      margin-left: 3rem;
    }
    .about__content-title {
      font-size: 1.8rem;
      padding: 1rem;
      @include mediumScreen {
        font-size: 2.1rem;
        padding: 2rem 0 2rem 0;
      }
    }
    .about__content-description {
      padding: 1rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      @include mediumScreen {
        padding: 3rem;
        font-size: 1.9rem;
        line-height: 1.5;
      }
    }
    .about__content-signature {
      background-image: url(../../../assets/signature.svg);
      background-position: center;
      background-repeat: no-repeat;
      height: 148px;
      width: 210px;
      margin-bottom: 1rem;
      align-self: flex-end;
      @include mediumScreen {
        margin: 0;
      }
    }
  }
}
