@import "../../../scss/settings/mixins";
@import "../../../scss/settings/colors";

.localizationspec__input {
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  @include mediumScreen {
    padding: 1rem;
  }
  .localizationspec__input-title {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0 0 1rem 0;
    @include mediumScreen {
      padding: 1rem 0 1rem 0;
      font-size: 1.5rem;
    }
  }
  .localizationspec__input-input {
    font-size: 1.1rem;
    padding: 0.5rem;
    border: 1px solid $colorFontPrimary;
    border-radius: 2px;
    background-color: $colorGiveStuffForm;
    max-width: 570px;
  }
}
