@import "../../../scss/settings/mixins";
@import "../../../scss/settings/colors";

.localizationspec__input {
  padding: 0 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  @include mediumScreen {
    padding: 0.5rem 1rem 0 1rem;
  }
  .localizationspec__input-title {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0 0 1rem 0;
    white-space: normal;
    @include mediumScreen {
      font-size: 1.3rem;
      padding: 0 0 0.5rem 0;
      white-space: pre-line;
    }
  }
  .localizationspec__input-input {
    font-size: 1.1rem;
    padding: 0.5rem;
    border: 1px solid $colorFontPrimary;
    border-radius: 2px;
    background-color: $colorGiveStuffForm;
    max-width: 470px;
  }
}
