@import "../../../scss/settings/mixins";
@import "../../../scss/settings/colors";

.givestuff__form-button {
  margin: 1rem 0 0 1rem;
  width: 120px;
  height: 60px;
  border-radius: 2px;
  border: 1px solid $colorFontPrimary;
  font-size: 1.1rem;
  background-color: transparent;
  @include mediumScreen {
    cursor: pointer;
    width: 180px;
    height: 70px;
    font-size: 1.5rem;
    &:disabled {
      cursor: not-allowed;
    }
    &:hover {
      background-color: $colorGiveStuffFormBtnHover;
    }
  }
}
.givestuff__form-button.submit {
  width: 140px;
  @include mediumScreen {
    width: 240px;
  }
}
