@import "../../../scss/settings/mixins";

.start__statistics {
  border: 2px solid blue;
  @include mediumScreen {
    // height: 344px;
    background-image: url(../../../assets/3-columns-background.png);
  }
  .container {
    @include mediumScreen {
      height: 100%;
      display: flex;
    }
  }
}
