@import "../../../scss/settings/mixins";

.start__statistics {
  border: 2px solid blue;
  @include mediumScreen {
    background-image: url(../../../assets/3-columns-background.png);
  }
  .container {
    @include mediumScreen {
      display: flex;
      justify-content: center;
    }
  }
}
