@import "../../../scss/settings/mixins";

.start__statistics {
  @include mediumScreen {
    background-image: url(../../../assets/3-columns-background.png);
  }
  .container {
    @include mediumScreen {
      height: 100%;
      display: flex;
    }
  }
  .start__statistic {
    &:last-child {
      border-bottom: none;
    }
  }
}
