@import "../../../scss/settings/mixins";
@import "../../../scss/settings/colors";

.givestuff__form-buttons {
  display: flex;
  justify-content: center;
  @include mediumScreen {
    justify-content: flex-start;
  }
}
