@import "../../../scss/settings/mixins";
@import "../../../scss/settings/colors";

.organizations {
  padding: 1rem;
  @include mediumScreen {
    min-height: 100vh;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mediumScreen {
      height: 100%;
    }
    .organizations__content-title {
      font-size: 1.8rem;
      padding: 1rem;
      @include mediumScreen {
        font-size: 2.1rem;
      }
    }
    .organizations__content-description {
      font-size: 1.2rem;
      padding: 1rem;
      text-align: center;
      line-height: 1.2;
      @include mediumScreen {
        max-width: 950px;
      }
    }
  }
}
