@import "../../../scss/settings/mixins";
@import "../../../scss/settings/colors";

.organizations {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .organizations__content-title {
      font-size: 1.8rem;
      padding: 1rem;
      margin-top: 1rem;
      @include mediumScreen {
        font-size: 2.1rem;
        margin-top: 2rem;
      }
    }
    .organizations__content-description {
      font-size: 1.2rem;
      padding: 2rem;
      text-align: center;
      line-height: 1.2;
      @include mediumScreen {
        font-size: 1.4rem;
        max-width: 600px;
        padding: 3rem 2rem;
      }
    }
  }
}
