@import "../../../scss/settings/mixins";

.start__text-decoration,
.steps__decoration,
.about__text-decoration,
.organizations__content-decoration,
.about__text-decoration,
.contact__text-decoration,
.login__content-decoration,
.register__content-decoration,
.logout__content-decoration,
.givestuff__hero-decoration,
.givestuff__thanks-decoration {
  background-image: url(../../../assets/decoration.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 33px;
  width: 250px;
}

.steps__decoration {
  margin-bottom: 2rem;
  @include mediumScreen {
    margin-bottom: 0;
  }
}

.about__text-decoration,
.organizations__content-decoration,
.contact__text-decoration,
.login__content-decoration,
.register__content-decoration,
.logout__content-decoration,
.givestuff__hero-decoration {
  margin-bottom: 1rem;
}

.login__content-decoration {
  @include mediumScreen {
    margin-bottom: 2rem;
  }
}
