@import "../../../scss/settings/colors";
@import "../../../scss/settings/mixins";

.register__content-form {
  border: 1px solid blue;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .register__form-inputs {
    background-color: $colorFormBackground;
    width: 100%;
    max-width: 385px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mediumScreen {
      height: 330px;
    }
  }
}

.register__form-input {
  width: 250px;
  .register__input-label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    @include mediumScreen {
      margin-bottom: 2rem;
    }
  }
  .register__input-input {
    font-size: 1rem;
    padding: 0;
    display: block;
    width: 100%;
    border: none;
    background-color: $colorFormBackground;
    border-bottom: 1px solid $colorPagination;
    outline: none;
    // margin-bottom: 1rem;
    margin-bottom: 2rem;
    &:focus {
      border-bottom: 1px solid $colorAccent;
    }
  }
  &:last-child {
    .register__input-input {
      margin-bottom: 1.4rem;
    }
  }
}

.register__form-input {
  .register__input-input.error {
    border-bottom: 1px solid $colorError;
    margin-bottom: 0.5rem;
    &:focus {
      border-bottom: 1px solid $colorAccent;
    }
  }
}

.register__error-email,
.register__error-password,
.register__error-password2 {
  display: block;
  color: $colorError;
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}

.register__error-password2 {
  margin-bottom: 0rem;
}

// Buttons
.register__form-buttons {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include mediumScreen {
    margin-top: 3rem;
  }
  .register__button-register,
  .register__button-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 50px;
    border-radius: 2px;
    border: 1px solid $colorFontPrimary;
    font-size: 1.1rem;
    color: $colorFontSecondary;
    cursor: pointer;
  }
  .register__button-login {
    margin-left: 1rem;
    @include mediumScreen {
      margin-left: 0;
      background-color: transparent;
      border: 1px solid $colorBackgroundPrimary;
      &:hover {
        border: 1px solid $colorPaginationHover;
      }
    }
  }
  .register__button-register {
    margin-right: 1rem;
    background-color: $colorAccent;
    &:disabled {
      border: 1px solid $colorPaginationHover;
      color: $colorPaginationHover;
    }
    @include mediumScreen {
      background-color: transparent;
      margin-right: 0;
      border: 1px solid $colorFontPrimary;
      &:hover {
        box-shadow: 8px 8px 17px -11px $colorFontPrimary;
      }
      &:disabled {
        cursor: not-allowed;
        box-shadow: none;
      }
    }
  }
}
