@import "../../../scss/settings/colors";
@import "../../../scss/settings/mixins";

.nav__list {
  background-color: $colorBackgroundPrimary;
  position: absolute;
  top: 50px;
  width: 100%;
  @include mediumScreen {
    display: flex;
    justify-content: flex-end;
    position: none;
    background-color: $colorBackgroundPrimary;
  }
  .nav__list-link {
    text-align: center;
    display: block;
    text-decoration: none;
    color: $colorFontPrimary;
    font-size: 1.5rem;
    padding: 1rem;
    border-bottom: 1px solid $colorAccent;
    @include mediumScreen {
      border: none;
      font-size: 1rem;
      &:hover {
        border: 1px solid $colorAccent;
      }
    }
  }
}
